# interactive sync (with dry run)
# alias rclsync="sh /home/lost/.bash_scripts/smart_rclone_sync.sh"


# clean make
alias clm="make clean && sudo make install clean"

# dwm
## dwm merge
alias dwmm="
	echo '-- merging attachaside --';
	git merge attachaside -m attachaside;
	echo '-- merging uselessgap --';
	git merge uselessgap -m uselessgap; 
	echo '-- NOT merging cfacts --';
	# git merge cfacts -m cfacts;
	echo '-- merging config --';
	git merge config -m config;"
## dwmblocks
alias dwmb="killall dwmblocks &>/dev/null; dwmblocks & disown"

# KDE
# alias resplasma="kquitapp5 plasmashell; kstart5 plasmashell"

# less
alias l="less"

# neovim
alias vim="nvim"

# pacman
alias pacinl="grep -i installed /var/log/pacman.log"
alias pacupgl="grep -i upgraded /var/log/pacman.log"

# picom
alias startpicom="picom --daemon --experimental-backend --backend glx"

# python
alias py="python"

# Xresources
alias xrdbm="xrdb -merge ~/.Xresources"

