[Unit]
Description=Run btrbk hourly (and 1 minute after boot)
Requires=btrbk.service

[Timer]
Unit=btrbk.service
OnBootSec=30s
OnUnitActiveSec=1h
AccuracySec=10m

[Install]
WantedBy=timers.target

